<div class="jumbotron text-center">
    <h1 class="display-3">{{title}} Index</h1>
    <p class="lead">Füge Youtube Videos Ideen hinzu</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video</a>
</div>


